<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style>
    body {
        padding-top: 100px;
    }
</style>

<nav class="navbar navbar-expand-lg fixed-top  " style="background-color: rgb(34, 27, 69);">
    <div class="container-fluid">
        <a class="navbar-brand " href="/" style=>
            <h2 class="text-primary">involvesMe</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="nav navbar-inverse mt-2" id="navbarSupportedContent" style="display:left;justify-content: space-between; ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item px-4">
                    <a class="nav-link" href="/" style="font-size: 20px; color: white;">Home</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link" aria-current="page" href="/profile" style="font-size: 20px;color: white;">Profile</a>
                </li>
                <% if(usertype == "creator"){%> 
                <li class="nav-item px-4">
                    <a class="nav-link" href="/store" style="font-size: 20px; color: white;">Store</a>
                </li>
                <%}%>
                <li class="nav-item px-4">
                    <a class="nav-link" href="/cart" style="font-size: 20px; color: white;">Cart</a>
                </li>
                
                <li class="nav-item px-4">
                    <a class="nav-link" href="/order/orders" style="font-size: 20px; color: white;">Orders</a>
                </li>
                <% if(usertype == "creator"){%> 
                <li class="nav-item px-4">
                    
                    <a class="nav-link" href="/order/viewOrdersCreator" style="font-size: 20px; color: white;">Sales</a>
                </li>
                <%}%>
                <li class="nav-item px-4">
                    <a class="nav-link" href="/wallet" style="font-size: 20px; color: white;">Wallet</a>
                </li>

                <li class="nav-item px-4">
                    <a class="nav-link" href="/settings" style="font-size: 20px; color: white;">Settings</a>
                </li>

            </ul>
            <div>
                <a href="/auth/logout" class="btn btn-primary rounded-pill " role="button">Log Out</a>
            </div>
        </div>
    </div>
</nav>
