
          <!-- Store Info -->
          <div class="d-flex flex-md-row flex-column justify-content-between py-4 my-6">
            <div class="col-md-6">
              <div class="row justify-content-between align-items-center">
                <div id="storeCarousel" class="carousel" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="https://o.remove.bg/downloads/f6b383e8-3e85-4ee8-96a0-35e5192086b9/image_2022-02-02_201620-removebg-preview.png" alt="First slide">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <h1 class="content-editable profile-title text-left" data-ph="Store Name" data-post="storeName">
                <%= profile.storeName || "My Store" %>
              </h1>
              <!-- <h5 class="text-on-back">02</h5> -->
              <p class="content-editable profile-description text-left"
                data-ph="This is a space for you to tell people about your store, what it is about, what products and services your offer etc."
                data-post="storeDesc">
                <%= profile.storeDesc || "This is a space for you to tell people about your store, what it is about, what products and services your offer etc." %>
              </p>
              <div class="btn-wrapper pt-3">
                <a href="/store/user?username=<%=profileUser%>" class="btn btn-simple btn-primary" role="button">
                  <i class="tim-icons icon-book-bookmark"></i> View
                </a>
              </div>
            </div>
          </div>