    .text-quicksand {
        font-family: "Quicksand", sans-serif;
    }
    
    .card {
        border: 2px solid #b15a9d;
        background-color: #221b44;
    }

}

#uplaodPic
{
    display: none;
}

#uplaodPicBtn
{
    height: 10px;
    position: relative;
    bottom:0;
    left: 43%;
    text-align: center;
    color: #67748e;
    
}

